@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@keyframes heartbeat {
  0%, 23%, 100% {
    transform: scale(1);
  }
  3.45%, 10.35% {
    transform: scale(1.01);
  }
  6.9% {
    transform: scale(1);
  }
}

.playground {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.root {
  --opacity: 1;
  --border-size: 1px;

  all: unset;
  background-origin: border-box;
  border-radius: 6px;
  padding-inline: 1rem;
  padding-block: 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 256px;

  animation: 
    rotate 6000ms linear infinite,
    heartbeat 13s ease-in-out infinite;
  
  border: var(--border-size) dotted transparent;
  background-image: 
    linear-gradient(
      to right,
      rgb(255 255 255 / var(--opacity)),
      rgb(255 255 255 / var(--opacity))
    ),
    conic-gradient(
      from var(--angle),
      #E4E2E4 0deg 300deg,
      #6E56CF 330deg 360deg
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;

  .content {

    .svg {
        width: 32px;
        height: 32px;
        margin-bottom: 4px;

        animation: 
        rotate 6000ms linear infinite,
        heartbeat 13s ease-in-out infinite;
      
      border: var(--border-size) dotted transparent;
      background-image: 
        linear-gradient(
          to right,
          rgb(255 255 255 / var(--opacity)),
          rgb(255 255 255 / var(--opacity))
        ),
        conic-gradient(
          from var(--angle),
          #E4DEFC 0deg 300deg,
          #6E56CF 330deg 360deg
        );
      background-origin: border-box;
      background-clip: padding-box, border-box;
      border-radius: 8px;
        
       
    }

    .title {
      all: unset;
      color: #1A1523;
      font-family: "SF Pro Text";
      display: block;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px; 
    }

    

    .description {
      all: unset;
      display: block;
      color: #6F6E77;
      font-family: "SF Pro Text";
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
    }
  }

  .button {
    border-radius: 6px;
    border: 1px solid #DCDBDD;
    background: #FFF;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.04);
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    color: #1A1523;
    font-family: "SF Pro Text";
    font-size: 14px;
    font-weight: 600;
    line-height: 24px; 
    letter-spacing: -0.15px;
  }
}

.advance {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 0.5rem;

  .steps {
    color: var(--Colors-Gray-Shade-11, #6F6E77);
    font-family: "SF Pro Text";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
  }

  .progress {
    position: relative;
    overflow: hidden;
    background: #E4E2E4;
    border-radius: 99999px;
    height: 4px;
    transform: translateZ(0);

    .indicator {
      background-color: #30A46C;
      width: 100%;
      height: 100%;
      transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
    }
  }
}